<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Game Suite</h1>
    <ul>
        <li><a href="{{ url_for('pong') }}">Pong</a></li>
        <li><a href="{{ url_for('flappyghost') }}">Flappy</a></li>
        <li><a href="{{ url_for('catch') }}">Catch</a></li>
        <li><a href="{{ url_for('pong2') }}">Pong 2</a></li>
        <li><a href="{{ url_for('newflap') }}">New Flap</a></li>
    </ul>
</body>

</html>