<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{url_for('static', filename='games/phaser.min.js')}}"></script>
</head>

<body>

    <h2>Pong 2</h2>

    <script src="{{url_for('static', filename='games/pong2/ball.js')}}"></script>

    <div>
        <script src="{{url_for('static', filename='games/pong2/pong2.js')}}"></script>
    </div>

    <div>
        <h1>Back</h1>
        <a href="{{ url_for('index') }}">back to index</a>
    </div>

</body>

</html>